@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap");
body {
  font-family: "Fredoka One", cursive;
  background-color: #041562;
}

#pet-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 3em;
}

.subtitle {
  color: white;
}
.mascotas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.tarjeta-mokepon {
  background: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
}

.tarjeta-mokepon img {
  width: 80px;
}

input {
  display: none;
}
input:checked + label {
  background-color: #5da7db;
}

.btn-select-pet {
  font-family: "Poppins", sans-serif;
  margin: 16px;
  width: 100px;
  height: 40px;
  color: white;
  padding: 16px;
  background-color: #041562;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  outline: none;
}

#pet-atack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn-at {
  font-family: "Poppins", sans-serif;
  background-color: #11468f;
  box-sizing: border-box;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  color: aliceblue;
  border: none;
}

.resultado {
  width: 100px;
  padding: 2em;

  background-color: aliceblue;
}

#battle-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 180px;
  margin-top: 20px;
  background-color: #11468f;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

#btn-restart {
  padding: 20px;
  border: transparent;
  color: #11468f;
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
  border-radius: 20px;
  background-color: aliceblue;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  border: 1px solid aliceblue;
  justify-content: center;
  margin-top: 16px;
}

.ataque-jugador,
.ataque-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 360px) {
  .mascotas {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #pet-atack {
    display: flex;
    flex-direction: column;
  }
  .groupAtack {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
